body{
    > header{
        height: 144px;
        background-color: $background_header;
        > div#container{
            > div#topo{
                @include make-row;
                padding-top: 20px;
                > div#logo{
                    @include make-md-column(2);
                    @include make-sm-column(2);
                    @include make-xs-column(8);
                    @include make-md-column-offset(0);
                    @include make-sm-column-offset(0);
                    @include make-xs-column-offset(2);
                    padding-left: 5px;
                    padding-right: 5px;
                } 
                > div#pesquisa{
                    @include make-md-column(5);
                    @include make-md-column-offset(4);
                    padding-right: 5px;
                    > p{
                        color: #555555;
                        font-family: $font_main;
                        font-size: 14px ;
                        text-align: right;
                        margin-left:  10xp;
                    }
                    > form{
                        > div{
                            padding: 3px;
                            border: solid 1px #E4E4E4;
                            border-radius: 6px;
                            background-color: #fff;
                            > input{
                                border: 0;
                                box-shadow: none;
                                background: $color_menu;
                                font-family: $font_main;
                                text-align: right;
                                font-size: 16px;
                            }
                            > span button{
                                margin: 2px 0 0 0;
                                background: none;
                                box-shadow: none;
                                border: 0;
                                color: #666666;
                                padding: 0 8px 0 10px;
                                border-left: solid 1px #ccc;
                            }
                            > span button:hover{
                                border: 0;
                                box-shadow: none;
                                border-left: solid 1px #000;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
    > div#menu_navegacao {
        background: #297BAA;
        > div.container{
            padding: 0px;
            > nav#menu_content{
                border: none;
                border-radius: 0px;
                margin: 0;
                background: none;
                > div.container-fluid{
                    padding-left: 0px;
                    padding-right: 0px;
                    > div#bs-example-navbar-collapse-1{
                        padding-right: 0px;
                        padding-left: 0px;
                        > ul {
                            @include make-md-column(12);
                            padding: 0px;
                            > li {
                                @include make-md-column(2.4);
                                padding: 0px;
                                > a {
                                    font-family: $font_main;
                                    font-size: 16px;
                                    color: $color_menu;
                                    text-align: center;
                                }
                            }
                            li:hover {
                                > a{
                                    background: $color_menu;
                                    color: #09F;  
                                }
                            }
                            > li.active{
                                > a {
                                    background: $background_header;
                                    color: #09F;                                     
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
    > div#widget-menu{
        > div.row{
            > div#widget-menu-list{
                @include make-md-column(9);
                padding: 0;
                > div.box {
                    @include make-md-column(3.8);
                    width: 100%;;
                    background: $background_header;
                    padding: 30px 10px ;
                    margin: 4px;
                    margin-bottom: 8px;
                    text-align: center;
                    -webkit-transition: all ease-out 300ms;
                    transition: all ease-out 300ms;
                }
                > div.box:hover {
                    box-shadow: 0 0 5px rgb(122, 122, 122);
                }
                > div.box i {
                    background: #297BAA;
                    width: 100px;
                    line-height: 100px !important;
                    color: rgb(255, 255, 255);
                    font-size: 50px !important;
                    border-radius: 50%;
                }
                > div.box h2{
                    display: block;
                    font-size: 1.5em;
                    -webkit-margin-before: 0.83em;
                    -webkit-margin-after: 0.83em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    font-weight: bold;
                }
                > div.box p {
                    display: block;
                    -webkit-margin-before: 1em;
                    -webkit-margin-after: 1em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                }
                > div.box a {
                    text-decoration: none;
                    transition: all ease-out 300ms;
                    width: 100px;
                    font: 16px/40px 'Archivo Narrow', sans-serif;
                    color: rgb(255, 255, 255);
                    background: rgb(51, 51, 51);
                    display: block;
                    margin: 0 auto
                }
            }
            
            > div#widget-menu-list-lateral{
                @include make-md-column(3);
                padding:0;
                > div#publicidade-lateral{
                    margin-top: 25px;
                    padding: 0;
                }
                > div#ultimas_noticias h1{
                    font-size: 18px;
                    margin-bottom: 10px;
                    padding-bottom: 2px;
                    color: #3a4755;
                    text-align: right;
                    border-bottom: 5px solid #297BAA;
                    line-height: 30px
                }
                > div#ultimas_noticias ul{
                    list-style-type: none;
                    margin: 0px;
                    padding: 0px 0px 20px 0px;
                }
                
                > div#ultimas_noticias ul li{
                    padding: 7px 0px;
                    font-weight: inherit;
                    border-bottom: 1px dotted #ddd;
                    color: #000;
                    text-align: right;
                }
                > div#publicidade-lateral h1{
                    font-size: 18px;
                    margin-bottom: 10px;
                    padding-bottom: 2px;
                    color: #3a4755;
                    text-align: right;
                    border-bottom: 5px solid #297BAA;
                    line-height: 30px
                }
                
            }
        }  
    }
    
     > div#likn {
        margin-top: 25px; 
        background: #297BAA;
        padding: 10px;
        > div#redes {

            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            > a {
                width: 60px;
                cursor: auto;
                text-decoration: none;
                line-height: 60px !important;
                color: rgb(255, 255, 255);
                font-size: 25px !important;
                background: rgba(0, 0, 0, .3);
                text-align: center;
            }
            > a .fa {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
    }
> footer{
		background: #333;
		padding: 20px 0 0;
		> .container{
			padding-bottom: 95px;
		}
		#footer-sidebar{
			> .footer-widget{
				@include make-xs-column(12);
				@include make-sm-column(4);
				@include make-md-column(4);
				> h4.widget__title{
					position: relative;
					margin: 12px 0;
					height: 36px;
					font: 22px $font_main;
					color: #fff;
					text-indent: 12px;
					padding-top: 3px;

					> span{
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 4px;
						height: 36px;
						background: #297BAA;
					}
				}
				p{
					color: #777;
					font: bold 11px $font_main;
				}
				> ul#fotos{
					list-style: none;
					padding: 0;
					> li{
						float: left;
						display: inline;
						width: 30%;
						margin: 0 5% 5% 0;
						&:nth-child(3n){
							margin-right: 0;
						}
					}
				}
				&.footer-widget--about{
					a{
						display: block;
						width: 60%;
					}
					p{
						width: 75%;
						margin: 20px 0 0;
					}
				}
			}
		}
		> #redes-sociais{
			background: #555;
			padding: 10px 0;
			
			#redes-sociais__container{
				@include make-md-column(12);

				> ul#redes-sociais__icons{
					float: right;

					> li{
						display: inline;
						float: left;
						margin-right: 5px;

						> a.icon{
							display: block;
							@extend .sprite_redes_sociais;

							&,
							&:hover{
								transition: all 0.2s linear;
							}

							&.icon--facebook{
								@include sprite-define(30px, 32px, -5px, -131px);
								&:hover{
									background-position:-5px -89px;						
								}
							}
							&.icon--twitter{
								@include sprite-define(30px, 32px, -5px, -551px);
								&:hover{
									background-position:-5px -508px;
								}
							}
							&.icon--youtube{
								@include sprite-define(30px, 32px, -6px, -719px);
								&:hover{
									background-position:-6px -677px;
								}
							}
							&.icon--gplus{
								@include sprite-define(30px, 32px, -5px, -299px);
								&:hover{
									background-position:-5px -257px;
								}
							}
						}
					}
					> :last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
    
}

    

    

