body{
    > header{
        height: 144px;
        background-color: $background_header;
        > div#container{
            > div#topo{
                @include make-row;
                padding-top: 20px;
                > div#logo{
                    @include make-md-column(2);
                    @include make-sm-column(2);
                    @include make-xs-column(8);
                    @include make-md-column-offset(0);
                    @include make-sm-column-offset(0);
                    @include make-xs-column-offset(2);
                    padding-left: 5px;
                    padding-right: 5px;
                } 
                > div#pesquisa{
                    @include make-md-column(5);
                    @include make-md-column-offset(4);
                    padding-right: 5px;
                    > p{
                        color: #555555;
                        font-family: $font_main;
                        font-size: 14px ;
                        text-align: right;
                        margin-left:  10xp;
                    }
                    > form{
                        > div{
                            padding: 3px;
                            border: solid 1px #E4E4E4;
                            border-radius: 6px;
                            background-color: #fff;
                            > input{
                                border: 0;
                                box-shadow: none;
                                background: $color_menu;
                                font-family: $font_main;
                                text-align: right;
                                font-size: 16px;
                            }
                            > span button{
                                margin: 2px 0 0 0;
                                background: none;
                                box-shadow: none;
                                border: 0;
                                color: #666666;
                                padding: 0 8px 0 10px;
                                border-left: solid 1px #ccc;
                            }
                            > span button:hover{
                                border: 0;
                                box-shadow: none;
                                border-left: solid 1px #000;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
    > div#menu_navegacao {
        background: #297BAA;
        > div.container{
            padding: 0px;
            > nav#menu_content{
                border: none;
                border-radius: 0px;
                margin: 0;
                background: none;
                > div.container-fluid{
                    padding-left: 0px;
                    padding-right: 0px;
                    > div#bs-example-navbar-collapse-1{
                        padding-right: 0px;
                        padding-left: 0px;
                        > ul {
                            @include make-md-column(12);
                            padding: 0px;
                            > li {
                                @include make-md-column(2.4);
                                padding: 0px;
                                > a {
                                    font-family: $font_main;
                                    font-size: 16px;
                                    color: $color_menu;
                                    text-align: center;
                                }
                            }
                            li:hover {
                                > a{
                                    background: $color_menu;
                                    color: #09F;  
                                }
                            }
                            > li.active{
                                > a {
                                    background: $background_header;
                                    color: #09F;                                     
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}
