body{
    > div#menu_navegacao {
        background: #297BAA;
        > div.container{
            padding: 0px;
            > nav#menu_content{
                border: none;
                border-radius: 0px;
                margin: 0;
                background: none;
                > div.container-fluid{
                    padding-left: 0px;
                    padding-right: 0px;
                    > div#bs-example-navbar-collapse-1{
                        padding-right: 0px;
                        padding-left: 0px;
                        > ul {
                            @include make-md-column(12);
                            padding: 0px;
                            > li {
                                @include make-md-column(2.4);
                                padding: 0px;
                                > a {
                                    font-family: $font_main;
                                    font-size: 16px;
                                    color: $color_menu;
                                    text-align: center;
                                }
                            }
                            li:hover {
                                > a{
                                    background: $color_menu;
                                    color: #09F;  
                                }
                            }
                            > li.active{
                                > a {
                                    background: $background_header;
                                    color: #09F;                                     
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}
